:root {
	--primary-color: #3d195b;
	--sedondary-color: #00ff85;
	--primary-color-transparent: rgba(61,25,91,0.6);
	--secondary-color-transparent: rgba(0, 255, 133,0.3);
}

/*body {
	background-color: var(--secondary-color-transparent);
}*/

.fplbackground{
	background-color: var(--primary-color);
	color: var(--sedondary-color);
}

.fplbackground-inverse{
	background-color: var(--sedondary-color);
	color: var(--primary-color);
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover,
.navbar-nav > li.active > a {
  color: var(--sedondary-color);
}

.navbar-nav > li > a {
  color : white;
}

.fplbackground .navbar-brand {
	background-color: var(--sedondary-color);
	color: var(--primary-color);
}

.border-brand {
    border-width:3px !important;
    border-color: var(--sedondary-color) !important;
    background-color: var(--primary-color) !important;
	color: var(--sedondary-color) !important;

}

.bordered-selector {
	border-width:3px !important;
    border-color: var(--sedondary-color) !important;
}
