<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- bootstrap-select Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <!-- Font Aewsome -->
    <script src="https://kit.fontawesome.com/b23025adb7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>FPL Corner</title>
    {% block head %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149505780-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-149505780-1');
    </script>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg fplbackground mb-2">
      <div class="container" id="myDIV">
        <a class="navbar-brand border border-brand p-1" href="{% url 'home' %}">FPL Corner</a>
        <button class="navbar-toggler ml-auto custom-toggler border-brand p-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li {% if 'player-comparison' in request.path %}class="active"{% endif %}>
              <a class="nav-link" href="{% url 'player_comparison' %}">Player Comparison</a>
            </li>
            <div class="nav-link">
                <li> | </li>
            </div>
            <li {% if 'discover-value' in request.path %}class="active"{% endif %}>
              <a class="nav-link" href="{% url 'discover_value' %}">Discover Value</a>
            </li>
          </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'fstats' %}">Fstats</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'mstats' %}">Mstats</a>
                </div>
            </li>
        </ul>
        </div>
        {% endif %}
      </div>
    </nav>


    {% block content %}
    {% endblock %}
     <div class="container" id="main">

        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-2">
                    {% block content1 %}
                    {% endblock %}
                </div>
                <div class="col-md-8">
                    {% block content2 %}
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    {% block content3 %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-1">
                    {% block content4 %}
                    {% endblock %}
                </div>
                <div class="col-md-10">
                    {% block content5 %}
                    {% endblock %}
                </div>
                <div class="col-md-1">
                    {% block content6 %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% block content7 %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="content container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    {% block content8 %}
                    {% endblock %}
                </div>
                <div class="col-lg-6">
                    {% block content9 %}
                    {% endblock %}
                </div>
            </div>
        </div>

       <div class="mb-4">
            <h1>  </h1> <br>
            <h1>  </h1> <br>
            <h1>  </h1>
        </div>
      </div>



      <footer class="mt-4">
          <div class="row bg-light text-center py-3 mt-4">
            <div class="col-md-4">
                <a class="footerlink" href="{% url 'about' %}"> About |</a>
                <a class="footerlink" href="{% url 'contactus' %}"> Contact us</a>
            </div>
            <div class="footerlink  col-md-4">
                © 2019 Copyright: FPLcorner.com
            </div>
          </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- bootstrap-select Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  </body>
</html>