{% extends 'fplcornerapp/base.html' %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

    <script type="text/javascript">
        function getOptionSelection(sel) {
          return sel.options[sel.selectedIndex].text;
        }
    </script>

    <script type="text/javascript">
        function getChartTitle() {
            // var m1 = document.getElementById("m_one");
            // var m1selection = getOptionSelection(m1);
            // var m2 = document.getElementById("m_two");
            // var m2selection = getOptionSelection(m2);
            // var chartTitle = m1selection + " vs. " + m2selection;
            var chartTitle = "{{ graph_title }}"
            return chartTitle;
        }
    </script> 

     <script type="text/javascript">
        // import ChartAnnotationsPlugin from 'chartjs-plugin-annotation';
        // Chart.plugins.register(ChartAnnotationsPlugin);
        // Chart.plugins.register({
        //     id: 'ChartAnnotationsPlugin',
        // });
     </script> 


{% endblock %}

{% block content %}
    <form method="POST" class="">{% csrf_token %}
    <div class="card card-body">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="d-flex justify-content-center mb-3">
                    <div class="p-2">
                        <select class="selectpicker border border-success" data-live-search="true" data-width="auto" name="topn" id="topn">
                          <option value="5">Top 5</option>
                          <option value="10">Top 10</option>
                          <option value="15">Top 15</option>
                          <option value="20">Top 20</option>
                        </select>
                    </div>
                    <div class="p-2">
                        <select class="selectpicker border border-success" data-live-search="true" data-width="auto" name="pos" id="pos" onChange="">
                          <option value="GKP">Goalkeepers</option>
                          <option value="DEF">Defenders</option>
                          <option value="MID">Midfielders</option>
                          <option value="FWD">Forwards</option>
                        </select>
                    </div>
                </div>    
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="d-flex justify-content-center mb-3">
                    <div class="p-2">
                        <select class="selectpicker border border-success" data-live-search="true" data-width="auto" name="metric1" id="m_one" onChange="getChartTitle();">
                          {# <option value="{{metric1}}" selected>{{ default1 }}</option> #}
                          {% for key, value in available_metrics.items %}
                            {% if key == metric1 %}
                                <option value="{{ key }}" selected>{{ value }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endif %}    
                            
                          {% endfor %}{% csrf_token %}
                        </select>
                    </div>
                    <div class="p-3">
                        vs.
                    </div>
                    <div class="p-2">
                        <select class="selectpicker border border-success" data-live-search="true" data-width="auto" name="metric2" id="m_two" onChange="getChartTitle();">
                          {# <option value="{{ metric2 }}" selected>{{ default2 }}</option> #}
                          {% for key, value in available_metrics.items %}
                            {% if key == metric2 %}
                                <option value="{{ key }}" selected>{{ value }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ value }} </option>
                            {% endif %}    
                          {% endfor %}{% csrf_token %}
                        </select>
                    </div>
                </div>    
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-warning">Discover</button>
        </div>
    </div>
        
    </form>
    

    <div class="row justify-content-center">
        <div class="col-10">
            <canvas id="myChart" height="400"></canvas>
        </div>

    <div class="container">
  <br />
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <canvas id="canvas" height="400"></canvas>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>    
        
    </div>
	

	<script type="text/javascript">
        
        if ({{ generate_graph }} > 0){
            var ctx = document.getElementById("myChart").getContext('2d');
            var chartTitle = getChartTitle();
            var labels = {{ graph_labels_json|safe }};
            var data = {{ graph_data_json|safe }};
            
            var options = {responsive: true, // Instruct chart js to respond nicely.
                maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                tooltips: {
                    callbacks: {
                    label: function(tooltipItem, data) {
                       var label = data.labels[tooltipItem.index];
                       return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
                    }
                 }
                },
                scales: {
                    yAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: "{{ default2 }}"
                      }
                    }],
                    xAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: "{{ default1 }}"
                      }
                    }]
                },
                title: {
                    display: true,
                    text: chartTitle,
                    fontSize: 15
                },
                legend: {
                    display: false
                },
                annotation: {
                  annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: 35,
                    borderColor: 'rgb(75, 192, 192)',
                    borderWidth: 4,
                  }]
                }
            };

            var myChart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    labels: labels,
                    datasets: [{
                    label: chartTitle, // Name the series
                    data: data,
                    borderColor: '#2196f3',           
                    backgroundColor: '#2196f3',
                    pointBackgroundColor: 'rgba(41, 73, 233, 0.21)',
                    pointBorderWidth: 1,
                    pointHoverBorderWidth: 0,
                    pointRadius: 6,
                    pointHoverRadius: 10
                    }]
                },
                options: options
        }); 
        }
            
        
        
	</script>

    <script type="text/javascript">
        document.getElementById('topn').value="{{ topn_selected|safe }}";
        document.getElementById('pos').value="{{ position|safe }}";
        document.getElementById('m_one').value="{{ metric1|safe }}";
        document.getElementById('m_two').value="{{ metric2|safe }}";
     </script>

     <script type="text/javascript">
        var chartTitle = getChartTitle();
        var labels = {{ graph_labels_json|safe }};
        var data = {{ graph_data_json|safe }};

        var lines = [{
            type: 'line',
            mode: 'vertical' ,/*set vertical for vertical line */
            scaleID: 'x-axis-label', /* id of the axis */
            value:  4.5,
            borderColor: '#E35500',
            borderWidth: 3
        }];

        var labels = labels;

        var config = {
            type: 'scatter',

            data: {
            datasets: [{
              type: 'scatter',
              data: data,
              borderColor: '#E35500',
              fill: false,
                lineTension : 0,
            borderJoinStyle: 'miter',
            }],
              lineAtIndex: 2
            },
            options: {
            title: {
                display: true,
                text: 'Cash Flow Analysis and Breakdown'
            },
             
            annotation: {
                drawTime: "afterDraw",
                annotations: lines
            },
              
            scales: {
                yAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: "{{ default2 }}"
                      },
                      id: 'y-axis-label'
                    }],
                xAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: "{{ default1 }}"
                  },
                  id: 'x-axis-label'
                }]
            },
            legend : {
                display: false,
            },
            maintainAspectRatio: false,
            scaleBeginAtZero: true
          }
        };
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            new Chart(ctx, config);
        };
     </script>

{% endblock %}