{% extends 'fplcornerapp/base.html' %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

    <script type="text/javascript">
        function getOptionSelection(sel) {
          return sel.options[sel.selectedIndex].text;
        }
    </script>

    <script type="text/javascript">
        function getChartTitle() {
            // var m1 = document.getElementById("m_one");
            // var m1selection = getOptionSelection(m1);
            // var m2 = document.getElementById("m_two");
            // var m2selection = getOptionSelection(m2);
            // var chartTitle = m1selection + " vs. " + m2selection;
            var chartTitle = "{{ graph_title }}"
            return chartTitle;
        }
    </script> 

     <script type="text/javascript">
        // import ChartAnnotationsPlugin from 'chartjs-plugin-annotation';
        // Chart.plugins.register(ChartAnnotationsPlugin);
        // Chart.plugins.register({
        //     id: 'ChartAnnotationsPlugin',
        // });
     </script> 


{% endblock %}

{% block content2 %}
    
<div class="card card-body fplbackground bordered-selector p-4">
    <form method="POST" class="">{% csrf_token %}
        <div class="row justify-content-center">
                    <div class="p-2">
                        <select class="selectpicker" data-live-search="true" data-width="auto" name="topn" id="topn">
                          <option value="5">Top 5</option>
                          <option value="10">Top 10</option>
                          <option value="15">Top 15</option>
                          <option value="20">Top 20</option>
                        </select>
                    </div>
                    <div class="p-2">
                        <select class="selectpicker" data-live-search="true" data-width="auto" name="pos" id="pos" onChange="">
                          <option value="GKP">Goalkeepers</option>
                          <option value="DEF">Defenders</option>
                          <option value="MID">Midfielders</option>
                          <option value="FWD">Forwards</option>
                        </select>
                    </div>
        </div>
        <div class="row justify-content-center p-2">
                    <div class="p-2 justify-content-center">
                        <select class="selectpicker" data-live-search="true" data-width="auto" name="metric1" id="m_one" onChange="getChartTitle();">
                          {# <option value="{{metric1}}" selected>{{ default1 }}</option> #}
                          {% for key, value in available_metrics.items %}
                            {% if key == metric1 %}
                                <option value="{{ key }}" selected>{{ value }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endif %}    
                            
                          {% endfor %}{% csrf_token %}
                        </select>
                    </div>
                    <div class="mt-4">
                        vs.
                    </div>
                    <div class="p-2 justify-content-center">
                        <select class="selectpicker" data-live-search="true" data-width="auto" name="metric2" id="m_two" onChange="getChartTitle();">
                          {# <option value="{{ metric2 }}" selected>{{ default2 }}</option> #}
                          {% for key, value in available_metrics.items %}
                            {% if key == metric2 %}
                                <option value="{{ key }}" selected>{{ value }}</option>
                            {% else %}
                                <option value="{{ key }}">{{ value }} </option>
                            {% endif %}    
                          {% endfor %}{% csrf_token %}
                        </select>
                    </div>
        </div>
        <div class="row justify-content-center mt-3">
            <button type="submit" class="btn fplbackground-inverse">Discover</button>
        </div>
    </form>  
</div>
        
    
{% endblock %}
    
{% block content5 %}
    <div class="p-2 row justify-content-center">
        <div class="col-12">
            <div class="">
               <canvas id="myChart" height="350"></canvas> 
            </div>
            
        </div>
    </div>
	

	<script type="text/javascript">
        
        if ({{ generate_graph }} > 0){
            var ctx = document.getElementById("myChart").getContext('2d');
            var chartTitle = getChartTitle();
            var labels = {{ graph_labels_json|safe }};
            var data = {{ graph_data_json|safe }};
            var medianX = {{ median_x }};
            var medianY = {{ median_y }};
            var primaryColor = '#3d195b';
            var secondaryColor = '#00ff85';
            var primaryColorTransparent = 'rgba(61,25,91,0.2)';
            var secondaryColorTransparent = 'rgba(0, 255, 133,0.3)';
            // var primaryColor = '#c2cad0';
            // var secondaryColor = '#e7717d';
            // var primaryColorTransparent = 'rgba(194, 202, 208, 0.2)';
            // var secondaryColorTransparent = 'rgba(231, 113, 125, 0.2)';
            
            var options = {responsive: true, // Instruct chart js to respond nicely.
                maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height 
                tooltips: {
                    callbacks: {
                    label: function(tooltipItem, data) {
                       var label = data.labels[tooltipItem.index];
                       return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
                    }
                 }
                },
                scales: {
                    yAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: "{{ default2 }}"
                      },
                      id: 'y-axis-0'
                    }],
                    xAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: "{{ default1 }}"
                      },
                      id: 'x-axis-0'
                    }]
                },
                title: {
                    display: true,
                    text: chartTitle,
                    fontSize: 15
                },
                legend: {
                    display: false
                },
                annotation: {
                  annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: medianY,
                    // borderColor: 'rgba(255,99,132,1)',
                    borderColor: primaryColor,
                    borderWidth: 2,
                  },{
                    type: 'line',
                    mode: 'vertical',
                    scaleID: 'x-axis-0',
                    value: medianX,
                    // borderColor: 'rgba(255,99,132,1)',
                    borderColor: primaryColor,
                    borderWidth: 2,
                  }]
                }
            };

            var myChart = new Chart(ctx, {
                type: 'scatter',
                data: {
                    labels: labels,
                    datasets: [{
                    label: chartTitle, // Name the series
                    data: data,
                    // borderColor: '#2196f3',
                    borderColor: secondaryColor,           
                    backgroundColor: secondaryColor,
                    pointBackgroundColor: secondaryColorTransparent,
                    pointBorderWidth: 2,
                    pointHoverBorderWidth: 0,
                    pointRadius: 6,
                    pointHoverRadius: 13
                    }]
                },
                options: options
        }); 
        }
            
        
        
	</script>

    <script type="text/javascript">
        document.getElementById('topn').value="{{ topn_selected|safe }}";
        document.getElementById('pos').value="{{ position|safe }}";
        document.getElementById('m_one').value="{{ metric1|safe }}";
        document.getElementById('m_two').value="{{ metric2|safe }}";
     </script>



{% endblock %}