{% extends 'fplcornerapp/base.html' %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>



    <script type="text/javascript">
        function getOptionSelection(sel) {
          return sel.options[sel.selectedIndex].text;
        }
    </script>

    <script type="text/javascript">
        function getChartTitle() {
            var chartTitle = "{{ graph_title }}"
            return chartTitle;
        }
    </script> 

    

{% endblock %}

{% block content2 %}
    
<div class="card card-body fplbackground bordered-selector p-4">
    <form method="POST" class="">{% csrf_token %}
        <div class="row justify-content-center">
            <div class="p-2">
                <select class="selectpicker" data-live-search="false" data-width="auto" name="pos" id="pos">
                  <option value="GKP">Goalkeepers</option>
                  <option value="DEF">Defenders</option>
                  <option value="MID" selected>Midfielders</option>
                  <option value="FWD">Forwards</option>
                </select>
            </div>
        </div>
        <div class="row justify-content-center p-2">
            <div class="p-2 justify-content-center">
                <select class="selectpicker" data-live-search="true" data-width="auto" name="metric2" id="m_two" onChange="getChartTitle();">
                  {% for key, value in available_metrics.items %}
                    {% if key == metric2 %}
                        <option value="{{ key }}" selected>{{ value }}</option>
                    {% else %}
                        <option value="{{ key }}">{{ value }} </option>
                    {% endif %}    
                  {% endfor %}{% csrf_token %}
                </select>
            </div>
            <div class="mt-4">
                vs
            </div>
            <div class="p-2 justify-content-center">
                <select class="selectpicker" data-live-search="true" data-width="auto" name="metric1" id="m_one" onChange="getChartTitle();">
                  {% for key, value in available_metrics.items %}
                    {% if key == metric1 %}
                        <option value="{{ key }}" selected>{{ value }}</option>
                    {% else %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endif %}    
                    
                  {% endfor %}{% csrf_token %}
                </select>
            </div>
        </div>

        <div class="p-1">
            <div class="card card-body fplbackground bordered-selector p-1 mx-auto" style="width: 22rem;">
                <div class="row justify-content-center p-1" style="font-size: 14px;">Additional Options</div>

                    <div class="custom-control custom-checkbox custom-checkbox-green ml-4">
                        <input class="custom-control-input custom-control-input-green" type="checkbox" value="" id="defaultCheck2" name = "defaultCheck2" {{last6box}}>
                        <label class="custom-control-label" for="defaultCheck2" style="font-size: 14px;">
                        Re-calculate based on last 6 games
                        </label>
                    </div>

                    <div class="custom-control custom-checkbox custom-checkbox-green ml-4">
                        <input class="custom-control-input custom-control-input-green" type="checkbox" value="" id="defaultCheck3" name="defaultCheck3" {{excludeBox}}>
                        <label class="custom-control-label" for="defaultCheck3" style="font-size: 14px;">
                        Exclude players with limited play time
                        </label>
                    </div>


                <div class="p-2 ml-3" style="font-size: 11px; color:white;">* Hit the 'Discover' button again after you make your choices.</div>
            </div>
        </div>
        
        <div class="row justify-content-center mt-3">
            <button type="submit" class="btn fplbackground-inverse">Discover</button>
        </div>
    </form>  
</div>
        
    
{% endblock %}
    
{% block content5 %}
   
    <div id="mainGraph">
        <div class="col-12">
            <div class="">
               <canvas id="scatter" height="350"></canvas> 
            </div>
            
        </div>
    </div>


    <script type="text/javascript">
        
        if ({{ generate_graph }} > 0) {
            var ctx = document.getElementById("scatter").getContext('2d');
            // var lineCheckbox = document.getElementById("defaultCheck1");
            var rsqr = {{ r_sqr|floatformat:2 }};
            var chartTitle = getChartTitle().concat(' Regression (R\u00B2=', rsqr, ')');
            var labels = {{ graph_labels_json|safe }};
            var data = {{ graph_data_json|safe }};
            var medianX = {{ median_x }};
            var medianY = {{ median_y }};
            var primaryColor = cssVar('--primary-color');
            var secondaryColor = cssVar('--secondary-color');
            var primaryColorTransparent = cssVar('--primary-color-transparent');
            var secondaryColorTransparent = cssVar('--secondary-color-transparent');
            // var primaryColor = '#1e3d59';
            // var secondaryColor = '#ff6e40';
            // var primaryColorTransparent = 'rgba(30, 61, 89,0.5)';
            // var secondaryColorTransparent = 'rgba(255, 110, 64,0.3)';
            var legendDisplay = true;
            var rl = {{ rl|safe }};
            var options = {responsive: true, // Instruct chart js to respond nicely.
                maintainAspectRatio: false, // Add to prevent default behaviour of full-width/height
                tooltips: {
                    callbacks: {
                    label: function(tooltipItem, data) {
                       var label = data.labels[tooltipItem.index];
                       return label + ': (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')';
                    }
                 }
                },
                scales: {
                    yAxes: [{
                      scaleLabel: {
                        display: true,
                        labelString: "{{ default2 }}"
                      },
                      id: 'y-axis-0'
                    }],
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom',
                        ticks: {
                  autoSkip: true
                },
                      scaleLabel: {
                        display: true,
                        labelString: "{{ default1 }}"
                      },
                      id: 'x-axis-0'
                    }]
                },
                title: {
                    display: true,
                    text: chartTitle,
                    fontSize: 15
                },
                legend: {
                    display: legendDisplay,
                    position: 'bottom'
                },
                annotation: {
                  annotations: [{
                    type: 'line',
                    mode: 'horizontal',
                    scaleID: 'y-axis-0',
                    value: medianY,
                    borderColor: primaryColor,
                    borderWidth: 1,
                  },{
                    type: 'line',
                    mode: 'vertical',
                    scaleID: 'x-axis-0',
                    value: medianX,
                    borderColor: primaryColor,
                    borderWidth: 1,
                  }]
                }
            };

            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        type: 'line',
                        label: 'Expected'.concat(' ', '{{ metric1_humanized }}'),
                        data: rl,
                        fill: false,
                        backgroundColor: secondaryColor,
                        borderColor: secondaryColor,
                        pointRadius: 0,
                        borderWidth: 1

                    }, {
                        type: 'bubble',
                        label: 'Player Data',
                        data: data,
                        borderColor: primaryColor,
                        backgroundColor: primaryColorTransparent,
                        borderWidth: 0,
                        hoverBorderWidth: 0,
                        radius: 3,
                        hoverRadius: 5,
                        borderWidth: 1.5
                    }]
                },
                options: options
            });
        } 
    </script>

    <script type="text/javascript">
        // document.getElementById('topn').value="{{ topn_selected|safe }}";
        document.getElementById('pos').value="{{ position|safe }}";
        document.getElementById('m_one').value="{{ metric1|safe }}";
        document.getElementById('m_two').value="{{ metric2|safe }}";

     </script>
    
{% endblock %}