{% extends 'fplcornerapp/base.html' %}


{% block content5 %}


<table class="table table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">FPLcorner id</th>
            <th scope="col">FPL id</th>
            <th scope="col">Home</th>
            <th scope="col">Away</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
    {% for f in fixtures %}
        <tr>
            <td>{{ f.id }}</td>
            <td>{{ f.fixture_id }}</td>
            <td>{{ f.team_h.short_name }}</td>
            <td>{{ f.team_a.short_name }}</td>
            <td>{{ f.kickoff_time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>


{% endblock %}