{% extends 'fplcornerapp/base.html' %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>	

	
{% endblock %}

{% block content2 %}
    <div>
        <div class="row justify-content-center">
          <div class="p-2">
              <select class="selectpicker border border-light" data-live-search="true" data-width="auto" name="player1" id="plrone" onChange="generateComparison();">
                <option value="All" disabled selected>Player 1</option>
                {% for p in graph_data %}
                  <option value="{{ p.player_id }}">{{ p.first_name }} {{ p.last_name }}</option>
                {% endfor %}{% csrf_token %}
              </select>
          </div>
          <div class="p-2">
              <select class="selectpicker border border-light" data-live-search="true" data-width="auto" name="player2" id="plrtwo" onChange="generateComparison();">
                <option value="All2" disabled selected>Player 2</option>
                {% for p in graph_data %}
                  <option value="{{ p.player_id }}">{{ p.first_name }} {{ p.last_name }}</option>
                {% endfor %}{% csrf_token %}
              </select>
          </div>
        </div>
{% endblock %}
{% block content5 %}
        <div class="row justify-content-center">
          <div>
      	   <canvas id="comparison" height="400"></canvas>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="alert alert-light mt-4" role="alert">
                All stats per 90 mins.
            </div>
        </div>    
    </div>



    <script type="text/javascript">
        function getPlayerOne(){
            val = document.getElementById("plrone").value;
            return val;
        }
    </script>

    <script type="text/javascript">
        function getPlayerTwo(){
            val = document.getElementById("plrtwo").value;
            return val;
        }
    </script>

    <script type="text/javascript">
        function getPlayerOneData() {
            var allData = {{ graph_data_json|safe }};
            var allDataLength = allData.length;
            for (var i = 0; i < allDataLength; i++) {
                if (allData[i]["player_id"] == getPlayerOne()) {
                    return allData[i];
                }
            }
        }  
    </script>

    <script type="text/javascript">
        function getPlayerTwoData() {
            var allData = {{ graph_data_json|safe }};
            var allDataLength = allData.length;
            for (var i = 0; i < allDataLength; i++) {
                if (allData[i]["player_id"] == getPlayerTwo()) {
                    return allData[i];
                }
            }
        }
    </script>

    <script type="text/javascript">
        function generateComparison(){
            var arr = [getPlayerOne(), getPlayerTwo()]
            if (arr[0] != "All2" & arr[1] != "All2"){
                if (typeof myRadarChart != 'undefined') {
                myRadarChart.destroy();
            }
            var playerOneId = getPlayerOne();
            var playerTwoId = getPlayerTwo();
            var allData = {{ graph_data_json|safe }};
            var playerOneSelection = getPlayerOneData();
            var playerTwoSelection = getPlayerTwoData();
            var gdata = {{ graph_data_json|safe }};
            var primaryColor = '#3d195b';
            var secondaryColor = '#00ff85';
            var primaryColorTransparent = 'rgba(61,25,91,0.2)';
            var secondaryColorTransparent = 'rgba(0, 255, 133,0.3)';
            // var primaryColor = '#afd275';
            // var secondaryColor = '#e7717d';
            // var primaryColorTransparent = 'rgba(175, 210, 117, 0.2)';
            // var secondaryColorTransparent = 'rgba(231, 113, 125, 0.2)';

            myRadarChart = new Chart(document.getElementById("comparison"), {
            type: 'radar',
            data: {
                labels: ["Points", "Goals", "Threat", "Influence", "Creativity", "Assists"],
                datasets: [
                {
                  label: playerOneSelection["web_name"],
                  fill: true,
                  // backgroundColor: "rgba(41, 73, 233, 0.21)",
                  // borderColor: "#2196f3",
                  // pointBorderColor: "#fff",
                  // pointBackgroundColor: "rgba(179,181,198,1)",
                  backgroundColor: primaryColorTransparent,
                  borderColor: primaryColor,
                  pointBorderColor: primaryColorTransparent,
                  pointBackgroundColor: primaryColor,
                  data: playerOneSelection["data"]
                }, {
                  label: playerTwoSelection["web_name"],
                  fill: true,
                  // backgroundColor: "rgba(255,99,132,0.2)",
                  // borderColor: "rgba(255,99,132,1)",
                  // pointBorderColor: "#fff",
                  // pointBackgroundColor: "rgba(255,99,132,1)",
                  backgroundColor: secondaryColorTransparent,
                  borderColor: secondaryColor,
                  pointBorderColor: secondaryColorTransparent,
                  pointBackgroundColor: secondaryColor,
                  data: playerTwoSelection['data']
                }
                ]
            },
            options: {
              title: {
                display: false,
                text: 'Player Comparison'
              },
              scale: {
                 ticks: {
                    display: false,
                    maxTicksLimit: 5
                 }
              }
            }
            });
            return myRadarChart;
            }
            
        }
    </script>


{% endblock %}
