{% extends 'fplcornerapp/base.html' %}

{% block head %}
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>	

	
{% endblock %}

{% block content2 %}
    <div>
        <div class="row justify-content-center">
          <div class="p-2">
              <select class="selectpicker" data-live-search="true" data-width="auto" name="player1" id="plrone" onChange="generateComparison();">
                <option value="All" disabled selected>Player 1</option>
                {% for p in graph_data %}
                  <option value="{{ p.player_id }}">{{ p.first_name }} {{ p.last_name }}</option>
                {% endfor %}{% csrf_token %}
              </select>
          </div>
          <div class="p-2">
              <select class="selectpicker" data-live-search="true" data-width="auto" name="player2" id="plrtwo" onChange="generateComparison();">
                <option value="All2" disabled selected>Player 2</option>
                {% for p in graph_data %}
                  <option value="{{ p.player_id }}">{{ p.first_name }} {{ p.last_name }}</option>
                {% endfor %}{% csrf_token %}
              </select>
          </div>
        </div>
{% endblock %}
{% block content7 %}
        <div class="row justify-content-center">
          <div>
      	   <canvas id="comparison" height="400" width="400"></canvas>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="alert fplbackground-light mt-4 mb-4 p-1" role="alert">
                *Stats calculated per 90 mins and over the last 6 games
            </div>
        </div>    
    </div>

    <script type="text/javascript">
        function getPlayerOne(){
            val = document.getElementById("plrone").value;
            return val;
        }
    </script>

    <script type="text/javascript">
        function getPlayerTwo(){
            val = document.getElementById("plrtwo").value;
            return val;
        }
    </script>

    <script type="text/javascript">
        function getPlayerOneData() {
            var allData = {{ graph_data_json|safe }};
            var allDataLength = allData.length;
            for (var i = 0; i < allDataLength; i++) {
                if (allData[i]["player_id"] == getPlayerOne()) {
                    return allData[i];
                }
            }
        }  
    </script>

    <script type="text/javascript">
        function getPlayerTwoData() {
            var allData = {{ graph_data_json|safe }};
            var allDataLength = allData.length;
            for (var i = 0; i < allDataLength; i++) {
                if (allData[i]["player_id"] == getPlayerTwo()) {
                    return allData[i];
                }
            }
        }
    </script>

    <script type="text/javascript">
        function generateComparison(){
            var arr = [getPlayerOne(), getPlayerTwo()]
            if (arr[0] != "All2" & arr[1] != "All2"){
                if (typeof myRadarChart != 'undefined') {
                myRadarChart.destroy();
            }
            var playerOneId = getPlayerOne();
            var playerTwoId = getPlayerTwo();
            var allData = {{ graph_data_json|safe }};
            var playerOneSelection = getPlayerOneData();
            var playerTwoSelection = getPlayerTwoData();
            var gdata = {{ graph_data_json|safe }};
            var primaryColor = '#1e3d59';
            var secondaryColor = '#ff6e40';
            var primaryColorTransparent = 'rgba(30, 61, 89,0.2)';
            var secondaryColorTransparent = 'rgba(255, 110, 64,0.3)';
            var graphFontColor = primaryColor

            myRadarChart = new Chart(document.getElementById("comparison"), {
            type: 'radar',
            data: {
                labels: ["Points", "Goals", "Threat", "Influence", "Creativity", "Assists"],
                datasets: [
                {
                  label: playerOneSelection["web_name"],
                  fill: true,
                  backgroundColor: primaryColorTransparent,
                  borderColor: primaryColor,
                  pointBorderColor: primaryColorTransparent,
                  pointBackgroundColor: primaryColor,
                  data: playerOneSelection["data"]
                }, {
                  label: playerTwoSelection["web_name"],
                  fill: true,
                  backgroundColor: secondaryColorTransparent,
                  borderColor: secondaryColor,
                  pointBorderColor: secondaryColorTransparent,
                  pointBackgroundColor: secondaryColor,
                  data: playerTwoSelection['data']
                }
                ]
            },
            options: {
              title: {
                display: false,
                text: 'Player Comparison'
              },
              legend: {
                  display: true,
                  labels: {
                    fontSize: 14,
                    fontColor: graphFontColor
                  }
              },
              scale: {
                 ticks: {
                    display: false,
                    maxTicksLimit: 5
                 },
                 pointLabels: {
                  fontSize: 14,
                  fontColor: graphFontColor
                }
              }
            }
            });
            return myRadarChart;
            }
            
        }
    </script>


{% endblock %}
